 <form action="<%= routePath %>create" method="post">
  
  <div class="vehicle_feature">
   <label for="vtype">Type:</label>
    <input type="text" id="vtype" name="vtype">
   

    <label for="brand">Brand:</label>
    <input type="text" id="brand" name="brand">

    <label for="model">Model:</label>
    <input type="text" id="model" name="model">
  </div>
  
  <div class="vehicle_feature">
  
  caixa 2
  </div>
 

  <div class="vehicle_feature">
  
  caixa 3
     <input type="submit" value="Insert Vehicle">
  </div>

</form> 