 <form action="<%= routePath %>create" method="post">
  
  
  <label for="vtype">Type:</label>
  <input type="text" id="vtype" name="vtype">

  <label for="brand">Brand:</label>
  <input type="text" id="brand" name="brand">

  <label for="model">Model:</label>
  <input type="text" id="model" name="model">

  <label for="type">Power:</label>
  <input type="text" id="power" name="power">

  <label for="type">Torque:</label>
  <input type="text" id="torque" name="torque">

  <label for="type">Motors:</label>
  <input type="text" id="motors" name="motors">

  <label for="battery">Battery:</label>
  <input type="text" id="battery" name="battery">

  <label for="battery">Range:</label>
  <input type="text" id="range" name="range">

  <label for="weight">Weight:</label>
  <input type="text" id="weight" name="weight">

  <label for="acceleration">Aceleration:</label>
  <input type="text" id="acceleration" name="acceleration>

  <label for="speed">Speed:</label>
  <input type="text" id="speed" name="speed>

  <label for="speed">Width:</label>
  <input type="text" id="width" name="width">

  <label for="speed">Lenght:</label>
  <input type="text" id="lenght" name="lenght">

  <label for="speed">Height:</label>
  <input type="text" id="height" name="height">

  <input type="submit" value="Insert Vehicle">
</form> 